langchain
langchain-google-genai
langchain-chroma
langchain-text-splitters
chromadb
pypdf
PyPDF2
python-dotenv
fastapi
uvicorn
psycopg2-binary
sqlalchemy
mlflow
streamlit
python-multipart
pydantic
requests
google-generativeai
